drop database expertises
--creation du base de donnée
create database expertises;
go
use expertises
go
----

--creation des Tables
create table Utilisateur(
login varchar(50) constraint pk_Utilisateur primary key,
password varchar(500),
Nom varchar(50),
Prenom varchar(50),
Email varchar(50)constraint uniqueMail unique ,
Validation bit,
Hash varchar(200),
);

go

 create table DernierSession(
 login varchar(50) constraint pk_DernierSession primary key,
 password varchar(50)
 );
 
go  


 create table CoursAppel(
 NumCoursAppel int constraint pk_CoursAppel primary key identity (1,1),
 NomCoursAppel Nvarchar(150),
 );
 
 go 
 
  create table TribunauxPremière(
 NumTribunalP int constraint pk_TribunalP primary key identity (1,1),
 NomTribunalP Nvarchar(150),
 NumCoursAppel int constraint fk_TribP_CoursAppel foreign key  references CoursAppel (NumCoursAppel)on delete cascade,
 );
 
 go 
 
 create table TypeExp(
 NumTypeExp int constraint pk_TypeExp primary key identity (1,1),
 typeExp Nvarchar(150),
 code int,
 );
 
  go
  
 create table Statut(
 NumStatut int constraint pk_Statut primary key identity (1,1),
 statut Nvarchar(150),
 );
  
  go

create table Expertise(
NumExp int constraint pk_Expertise primary key ,
RefCabinet int constraint unique_RefRéféré unique,
RefRéféré Nvarchar(100),
NumTribunalP int constraint  fk_Exp_Trib foreign key  references TribunauxPremière(NumTribunalP)on delete cascade,
NomMagistrat Nvarchar(150),
NomJugeControleur Nvarchar(150),
NomGreffier Nvarchar(150),
TypeDécision Nvarchar(150),
DateDécision date,
DateDésignation date,
DateAcceptation date,
DateConsignation date,
MontantConsignation float,
LieuExp Nvarchar(200),
NumTypeExp int  constraint  fk_Exp_TypeExp foreign key  references TypeExp (NumTypeExp)on delete cascade,
DateConvPart date,
DateRvPart date,
HeureRvPart varchar(50),
RépertoireDoc Nvarchar(200),
NumStatut int constraint fk_Exp_Statut foreign key  references Statut (NumStatut)on delete cascade,
Terminé bit
);

 go
 
 create table Avocat(
 NumAv int constraint pk_Avocat primary key identity (1,1),
 NomCompletAv Nvarchar(150),
 Portable Nvarchar(50),
 );

go

 create table JudicialCommissioner(
 NumJC int constraint pk_JC primary key identity (1,1),
 NomCompletJC Nvarchar(150),
 Portable Nvarchar(50),
 );

go

 create table Demandeur(
 NumDem int constraint pk_Demandeur primary key identity (1,1),
 NomCompletDem Nvarchar(500),
 NumAv int constraint fk_Dem_Av foreign key  references Avocat (NumAv)on delete cascade,
 Adresse Nvarchar(500),
 Portable Nvarchar(50),
 NumExp int constraint fk_Dem_Exp foreign key  references Expertise (NumExp)on delete cascade,
 );

go

 create table Défenseur(
 NumDéf int constraint pk_Défenseur primary key identity (1,1),
 NomCompletDéf Nvarchar(150),
 NumAv int constraint fk_Déf_Av foreign key  references Avocat (NumAv)on delete cascade,
 Adresse Nvarchar(500),
 Portable Nvarchar(50),
 NumExp INT constraint fk_Déf_Exp foreign key  references Expertise (NumExp)on delete cascade,
 );
 
go  

-----

  select * from utilisateur
  insert into utilisateur values ('admin','123','Barhoun','Ibrahim','IbrahimBR@gmail.com',1,'');

  select * from CoursAppel
  insert into CoursAppel values (N'محكمة الإستئناف بالرباط')
  insert into CoursAppel values (N'محكمة الإستئناف بالدار البيضاء')
  insert into CoursAppel values (N'محكمة الإستئناف بأكادير')
  
  
   select * from TribunauxPremière
  insert into TribunauxPremière values (N'المحكمة الإبتدائية بالرباط',1)
  insert into TribunauxPremière values (N'المحكمة الإبتدائية بسلا',1)
  insert into TribunauxPremière values (N'المحكمة الإبتدائية بتمارة',1)
 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  select *from TypeExp
  insert into TypeExp values(N'العقار العادي',1401)
  insert into TypeExp values(N'العقار المحفظ',1402)
  insert into TypeExp values(N'العقار في طور التحفيظ',1403)
  
  
  select * from Statut
  insert into Statut values(N'خبرة غير منجزة')
  
  
  select * from expertise
  insert into expertise values (1,156,'2021/1615/1153',75,N'التملالي عمر','','',N'مدني افتتاحي','28/02/2022','','','25/11/2021',5000,'',13,'','','4:30','',1,0)
  insert into expertise values (2,111,'2021/1615/1153',75,N'التملالي عمر','','',N'مدني افتتاحي','28/02/2022','','','25/11/2021',5000,'',13,'','','4:30','',1,0)
 
 
  select * from Avocat
  insert into Avocat values(N'الإدريسي مصطفى','+212600000000')
  
  select * from Demandeur
  insert into Demandeur values(N'أحمدأفتحو',1,'','+212600000000',1)
  insert into Demandeur values(N'فاطمة أفتحو',1,'','+212600000000',1)
  
  
  select * from Défenseur
  insert into Défenseur values(N'سعيد بومقضي',1,'','+212600000000',1)
  insert into Défenseur values(N'ارحيمو بومقضي',1,'','+212600000000',1)
  